<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Edición de Roles</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

  <div class="mb-3">
    <a href="/" class="btn btn-primary">Listado de usuarios</a>
    <a href="/roles" class="btn btn-primary">Listado de roles</a>
  </div>

<h1>Editar Rol</h1>

<form action="/roles/<%= role.id %>" method="POST">
  <label>Nombre:</label>
  <input type="text" name="name" value="<%= role.name %>" required />

  <h3>Permisos</h3>
  <% if (permisos.length === 0) { %>
    <p>No hay permisos</p>
  <% } else { %>
    <% permisos.forEach(permiso => { %>
      <div>
        <label>
<input type="checkbox" name="permisos[]" value="<%= permiso.id %>" <%= permisosAsignadosIds.includes(Number(permiso.id)) ? 'checked' : '' %> />
          <%= permiso.name %>
        </label>
      </div>
    <% }) %>
  <% } %>

  <button type="submit">Actualizar</button>
</form>
